@{
    ViewBag.Title = "Edit Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Classroom.Models.Class

@using Classroom.Models

<!DOCTYPE html>

@{
    User us = (User)Session["User"];

    if (us != null)
    {
        if (us.Type.Equals("Student"))
        {
            Response.Redirect("/ClassRoom/Classes");
        }
    }
    else
    {
        Response.Redirect("/Classroom/Index");
    }
}

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create Class</title>
    </head>
    <body class="body">*@


<div style="font-family:'Comic Sans MS'; padding-left:450px;color:white; font-size:80px; padding-top:30px">Create Class</div>
<div class="container">

    <div class="box" style="padding-top:80px">


        <form action="/Teacher/UpdateClass" method="post" enctype="multipart/form-data">
            <div class="search-text">

                <input type="hidden" name="id" value="@Model.Id" />
                <label>Class Name</label>
                <div class="icons">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input required type="text" name="Name" class="form-control" style="width:400px" placeholder="@Model.Name" value="@Model.Name" />

                    </div>
                </div>
                <br />


                <label>Class Code</label>
                <div class="icons">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="text" name="ClassCode" class="form-control" style="width:400px" placeholder="@Model.ClassCode" value="@Model.ClassCode" />
                    </div>
                </div>
                <br />


                <button type="submit" class="btn btn-warning">UPDATE CLASS</button>

                <div class="clearfix"></div>
                <div class="form-group col-lg-12">
                    <input type="hidden" name="login" value="login">

                </div>
            </div>
        </form>
    </div>
</div>
<nav class="nav navbar-inverse" role="navigation">
    <div class="nav navbar-fixed-bottom pull-right">

        <a class="navbar-brand " href="/Classroom/Classes">BACK</a>

    </div>
</nav>
@*</body>
    </html>*@
